/*  CSS Document for Personal Website */
/*


Title:          main.css
Browser(s):     All

Author:         Syed Hussain
Created:        29.01.2018

*/

::-webkit-scrollbar {
  display: none;
}

html {
    -ms-overfllow-style: none;
    font-size: 62.5%;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 300;
  font-family: "Segoe UI", sans-serif;
}

h1 {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h2 {
  font-size: 5.0rem;
  line-height: 1.25;
  text-align: center;
  letter-spacing: -.1rem;
}

h3 {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
  color: white;
}

h4 {
  font-size: 2.0rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

p {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

blockquote {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

pre {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #1EAEDB;
}

a img {
  border: none;
}

a:hover {
  color: #0FA0CE;
}

a:active,
a:hover {
    outline: 0;
}

.button {
    color: #fff;
    font-size: 12px;
    background: 0 0;
    font-weight: 100;
    letter-spacing: 0;
    text-align: center;
    border-radius: 5px;
    padding: 10px 65px;
    padding-left: 27px;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.button:hover {
    cursor: pointer;
    background: #fff;
    color: #F65151 !important;
}

.button:focus {
    outline: 0;
}

input {
    width: 15%;
    display: inline-grid;
}

input[type=email],
input[type=text],
textarea {
    border: none;
    font-size: 15px;
    font-weight: 100;
    padding: 12px 24px;
    border-radius: 5px;
    margin: 0 20px 10px 0;
    display: inline-block;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    background: rgba(0, 0, 0, .5);
}

input[type=text]:first-of-type,
textarea[type=text]:first-of-type {
    margin-left: 0;
}

input[type=text]:last-of-type {
    margin-right: 0;
}

input:focus,
textarea:focus {
    outline: 0;
    border-radius: 5px;
}

textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
}

.message {
    height: 25%;
    width: 90%;
}

button,
input,
optgroup,
select,
textarea {
    color: #D5D8DC;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

#contact-form .button {
    color: #F04;
    border: 1px solid #F65151;
}

#contact-form .button:hover {
    background: #F04;
    color: #FFF !important;
}

.span8 {
    width: 50%;
    display: inline-block;
}

#particles-js {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #111;
}

#about-js {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: relative;
}

#project-js {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: relative;
}

#blog-js {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: relative;
}

#contact-js {
  width: 100vw;
  height: 65vh;
  background: #34495e;
  position: relative;
}

.intro-message {
  left: 0;
  top: 32%;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  position: absolute;
  color: grey;
}

.top-nav {
    left: 0;
    top: 50%;
    width: 98%;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    position: absolute;
}

.center-box {
  text-align: center;
  font-size: 1em;
  top: 90%;
  position: relative;
}

/*About Section*/

.about-title {

}

.about-page {

}

.about-box {
  width: 60%;
  margin-left: 20%;
  background-color: #ecf0f1;
}

/*Project Section*/

.project-title {

}

.project-page {

}

.project-subtitle {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 36px;
  font-style: bold;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

.row.project-list {
    margin-top: 5em;
    margin-bottom: 5em;
}

.project-section-img {
  width: 50%;
  float: left;
  padding: 1.25em;
  min-height: 1px;
  overflow: hidden;
  position: relative;
}

.project-section-description {
  width: 40%;
  float: left;
  padding: 1.25em;
  min-height: 1px;
  overflow: hidden;
  position: relative;
  text-align: justify;
}

/*Blog section*/

.blog-title {

}

.blog-page {

}

.blog-template-heading {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 36px;
	font-style: bold;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.blog-template-date {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 350;
	line-height: 26.4px;
  margin-top: 0.5em;
}

.blog-subheading {

}

.blog-template-text {
  margin-top: 0.5em;
}

.blog-right {
  right: 25%;
  width: 15%;
  float: left;
  padding: 1.25em;
  min-height: 1px;
  overflow: hidden;
  position: relative;
  text-align: justify;
}

.blog-left {
  width: 74%;
  float: left;
  padding: 1.25em;
  min-height: 1px;
  overflow: hidden;
  position: relative;
}

.blog-likecomment {

}

.blog-connect {

}

/*Contact Section*/

.contact-title {
  color: #fff;
}

.contact-page {

}

list-inline {
    list-style: none;
}

.list-inline > li {
    padding-left: 2px;
    padding-right: 2px;
    display: inline-block;
}

div {
  display: block;
}

.title {
  left: 0;
  top: 40%;
  width: 100%;
  color: #fff;
  font-size: 4.4em;
  font-weight: bold;
  text-align: center;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
}

.cover-wrapper {
  width: 100vw;
}

.top_content {
  /* background:#dddddd url(i/bg_top.jpg) top center repeat-x; height:81px; */
}

footer {
  z-index: 10;
  bottom: 0.8em;
  color: #6c6c6c;
  position: fixed;
  padding-left: 1em;
}
