/*  CSS Document for Personal Website */
/*


Title:          main.css
Browser(s):     All

Author:         Syed Hussain
Created:        29.01.2018

*/

::-webkit-scrollbar {
  display: none;
}

html {
    -ms-overfllow-style: none;
    font-size: 62.5%;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 300;
  font-family: 'open sans', sans-serif;
}

h1 {
  font-size: 5.0rem;
  line-height: 1.25;
  text-align: center;
  letter-spacing: -.1rem;
}

h2 {
  font-size: 5.0rem;
  line-height: 1.25;
  text-align: center;
  letter-spacing: -.1rem;
}

h3 {
  font-size: 2.8rem;
  text-align: center;
  letter-spacing: -.1rem;
}

h4 {
  font-size: 2.0rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

p {
  margin-top: 0;
}

a {
  outline: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #1EAEDB;
}

a img {
  border: none;
}

a:hover {
  color: #0FA0CE;
}

a:active,
a:hover {
    outline: 0;
}

#particles-js {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #111;
}

#about-js {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: relative;
}

#project-js {
  width: 100vw;
  height: 100vh;
  background: #e74c3c;
  position: relative;
}

#blog-js {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: relative;
}

#contact-js {
  width: 100vw;
  height: 50vh;
  background: #34495e;
  position: relative;
}

.intro-message {
  left: 0;
  top: 32%;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  position: absolute;
  color: grey;
}

.top-nav {
    left: 0;
    top: 50%;
    width: 98%;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    position: absolute;
}

.about-box {
  width: 60%;
  margin-left: 20%;
  background-color: #ecf0f1;
}

.about-title {

}

.contact-title {
  color: #fff;
}

.project-title {

}

.blog-title {

}

.about-page {

}

.project-page {

}

.blog-page {

}

.contact-page {

}

.center-box {
  text-align: center;
  font-size: 1em;
  top: 90%;
  position: relative;
}

list-inline {
    list-style: none;
}

.list-inline > li {
    padding-left: 2px;
    padding-right: 2px;
    display: inline-block;
}

div {
  display: block;
}

.title {
  left: 0;
  top: 40%;
  width: 100%;
  color: #fff;
  font-size: 4.4em;
  font-weight: bold;
  text-align: center;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
}

.cover-wrapper {
  width: 100vw;
}

.top_content {
  /* background:#dddddd url(i/bg_top.jpg) top center repeat-x; height:81px; */
}

footer {
  z-index: 10;
  bottom: 0.8em;
  color: #6c6c6c;
  position: fixed;
  padding-left: 1em;
}
